ClientApplication/Connected Services/ServiceReference/ClientService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62054/Services/ClientService.svc?xsd=xsd2" namespace="WcfService" />
  <xs:element name="GetAllAuthores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuthoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="WcfService" minOccurs="0" name="GetAllAuthoresResult" nillable="true" type="q1:ArrayOfAuthorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorByUnique_Id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Unique_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorByUnique_IdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="WcfService" minOccurs="0" name="GetAuthorByUnique_IdResult" nillable="true" type="q2:AuthorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="WcfService" minOccurs="0" name="obj" nillable="true" type="q3:AuthorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewAuthorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="WcfService" minOccurs="0" name="obj" nillable="true" type="q4:AuthorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAuthorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="WcfService" minOccurs="0" name="obj" nillable="true" type="q5:AuthorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAuthorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="WcfService" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q6:ArrayOfProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByUnique_Id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Unique_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByUnique_IdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="WcfService" minOccurs="0" name="GetProductByUnique_IdResult" nillable="true" type="q7:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByAuthorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByAuthorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="WcfService" minOccurs="0" name="GetProductsByAuthorIdResult" nillable="true" type="q8:ArrayOfProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="WcfService" minOccurs="0" name="obj" nillable="true" type="q9:ProductDTO" />
        <xs:element minOccurs="0" name="unique_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="WcfService" minOccurs="0" name="obj" nillable="true" type="q10:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="WcfService" minOccurs="0" name="obj" nillable="true" type="q11:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authorize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="WcfService" minOccurs="0" name="AuthorizeResult" nillable="true" type="q12:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>