ClientApplication/Connected Services/ServiceReference/ClientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62054/Services/ClientService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62054/Services/ClientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62054/Services/ClientService.svc?xsd=xsd2" namespace="WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientService_GetAllAuthores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthores" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetAllAuthores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthoresResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetAuthorByUnique_Id_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorByUnique_Id" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetAuthorByUnique_Id_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorByUnique_IdResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddNewAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewAuthor" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddNewAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_UpdateAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAuthor" />
  </wsdl:message>
  <wsdl:message name="IClientService_UpdateAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_DeleteAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuthor" />
  </wsdl:message>
  <wsdl:message name="IClientService_DeleteAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetProductByUnique_Id_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByUnique_Id" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetProductByUnique_Id_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByUnique_IdResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddNewProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewProduct" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddNewProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewProductResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IClientService_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IClientService_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientService">
    <wsdl:operation name="GetAllAuthores">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetAllAuthores" message="tns:IClientService_GetAllAuthores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetAllAuthoresResponse" message="tns:IClientService_GetAllAuthores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorByUnique_Id">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetAuthorByUnique_Id" message="tns:IClientService_GetAuthorByUnique_Id_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetAuthorByUnique_IdResponse" message="tns:IClientService_GetAuthorByUnique_Id_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/AddNewAuthor" message="tns:IClientService_AddNewAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/AddNewAuthorResponse" message="tns:IClientService_AddNewAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/UpdateAuthor" message="tns:IClientService_UpdateAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/UpdateAuthorResponse" message="tns:IClientService_UpdateAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/DeleteAuthor" message="tns:IClientService_DeleteAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/DeleteAuthorResponse" message="tns:IClientService_DeleteAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetAllProducts" message="tns:IClientService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetAllProductsResponse" message="tns:IClientService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByUnique_Id">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetProductByUnique_Id" message="tns:IClientService_GetProductByUnique_Id_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetProductByUnique_IdResponse" message="tns:IClientService_GetProductByUnique_Id_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/AddNewProduct" message="tns:IClientService_AddNewProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/AddNewProductResponse" message="tns:IClientService_AddNewProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/UpdateProduct" message="tns:IClientService_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/UpdateProductResponse" message="tns:IClientService_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/DeleteProduct" message="tns:IClientService_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/DeleteProductResponse" message="tns:IClientService_DeleteProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientService" type="tns:IClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllAuthores">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetAllAuthores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorByUnique_Id">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetAuthorByUnique_Id" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewAuthor">
      <soap:operation soapAction="http://tempuri.org/IClientService/AddNewAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthor">
      <soap:operation soapAction="http://tempuri.org/IClientService/UpdateAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthor">
      <soap:operation soapAction="http://tempuri.org/IClientService/DeleteAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByUnique_Id">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetProductByUnique_Id" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewProduct">
      <soap:operation soapAction="http://tempuri.org/IClientService/AddNewProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IClientService/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IClientService/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port name="BasicHttpBinding_IClientService" binding="tns:BasicHttpBinding_IClientService">
      <soap:address location="http://localhost:62054/Services/ClientService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>