ClientApplication/Connected Services/ServiceReference/ClientService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62054/Services/ClientService.svc?xsd=xsd2" namespace="WcfService" />
  <xs:element name="GetAllAuthores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuthoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="WcfService" minOccurs="0" name="GetAllAuthoresResult" nillable="true" type="q1:ArrayOfAuthorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorByUnique_Id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Unique_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorByUnique_IdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="WcfService" minOccurs="0" name="GetAuthorByUnique_IdResult" nillable="true" type="q2:AuthorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="WcfService" minOccurs="0" name="obj" nillable="true" type="q3:AuthorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewAuthorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="WcfService" minOccurs="0" name="obj" nillable="true" type="q4:AuthorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAuthorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="WcfService" minOccurs="0" name="obj" nillable="true" type="q5:AuthorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAuthorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>